*{
 padding: 0;
 margin: 0;   
}
html{
    height: auto;
}
body{
    height: auto;
    background-image: url("Hint.jpg");
    background-repeat: auto;
    background-size: 100%;
background-attachment: auto;
}
button {
    background-color: #c30912; 
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }