
  a {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
  }
  
  p {
    font-weight: 1000;
    text-align: center;
    font-size: 20px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 1px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 7s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  
 

.masonryholder{
    column-count: 4;
    column-gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
    }
  
  .masonryblocks{
    display: inline-block;
    background: #353836;
    padding: 1px;
    margin: 0 0 10px;
    width: 100%;
    box-sizing: border-box;
    }
  
  .masonryblocks img{
    width: 100%;
    }
  
  @media screen and (max-width:768px){
    .masonryholder{
      column-count: 1;
    }
    }
  
  @media screen and (min-width:769px){
    .masonryholder{
      column-count: 2;
    }
    }
  
  @media screen and (min-width:1080px){
    .masonryholder{
      column-count: 3;
    }
    }
  
  @media screen and (min-width:1200px){
    .masonryholder{
      column-count: 4;
    }
    }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
  
  * {
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #353836;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }

    button {
      background-color:black; 
      border-radius: 12px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
    }
  }