*{
 padding: 0;
 margin: 0;   
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url("Hint.jpg");
    background-repeat: auto;
    background-size: auto;
background-attachment: auto;
}