@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}

ul a {
  color: rgb(121, 86, 42);
}

